.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 125px;
  width: 125px; 
  padding: 15px;
  padding-top: 20px;
}

.start {
  border-top: 1px solid gray !important;
  border-radius: 20px 20px 0px 0px;
  font-weight: 800;
}

.final {
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 15px;
}

.noLine {
  border: none !important;
  
}

.largest {
  flex: 12 !important;
  justify-content: flex-start !important;
  padding: 10px;
  padding-right: 10px;
  font-size: 0.75em !important;
  overflow: hidden !important;

}

input[type="checkbox"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 1px solid gray;
  border-radius: 15em;
  overflow: hidden;
}

.odd {
  background-color: #fdfaf1;
}

.fourth {
  flex: 1 !important;
  min-width: 50px;
}

.third {
  flex: 1 !important;
  min-width: 50px;
}

.two {
  flex: 2 !important;
  min-width: 75px;
}

.inputField {
  min-width: 50px;
  margin: 5px;
  border: none;
  height: 70%;
  border: 0px solid gray;
  border-width: 0px 0px 1px 0px;
}

.image {
  width: 100%;
}